<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipsercp.hyperbola.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.eclipsercp.hyperbola.Perspective"
            id="org.eclipsercp.hyperbola.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipsercp.hyperbola.ContactsView"
            icon="icons/groups.gif"
            id="org.eclipsercp.hyperbola.views.contacts"
            name="Contacts"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipsercp.hyperbola.ChatEditor"
            default="false"
            icon="icons/chat.gif"
            id="org.eclipsercp.hyperbola.editors.chat"
            name="Chat Editor">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipsercp.hyperbola.application"
            name="Hyperbola">
         <property
               name="appName"
               value="Hyperbola">
         </property>
         <property
               name="aboutImage"
               value="branding/about.gif">
         </property>
         <property
               name="aboutText"
               value="Hyperbola Chat&#x0A;&#x0A;Version 1.0.0&#x0A;&#x0A;(c) Copyright 2005-2013, Jeff Mc Affer, &#x0A;Jean-Michel Lemieux and others.&#x0A;All rights reserved.">
         </property>
         <property
               name="windowImages"
               value="branding/hyperbola16.gif,branding/hyperbola32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.eclipsercp.hyperbola.editors.chat.actions"
            targetID="org.eclipsercp.hyperbola.editors.chat">
         <action
               class="org.eclipsercp.hyperbola.BackgroundColorAction"
               icon="icons/color.png"
               id="org.eclipsercp.hyperbola.action"
               label="Background Color"
               menubarPath="file/additions"
               style="push"
               toolbarPath="additions">
         </action>
      </editorContribution>
   </extension>

</plugin>
